[run]
source = .
omit =
    */migrations/*
    */tests/*
    */venv/*
    */django_env/*
    manage.py
    */wsgi.py
    */asgi.py
    */settings.py
    */urls.py
    */admin.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if settings.DEBUG
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = htmlcov
