# Django settings
SECRET_KEY=uYc4iGYT9w1tdoftas349hnkEskDt8j6Jp21LuM3VbKyr7wD5pCjrSrlvAtbMzm5mmoMTP0P7zObGjaVd5ECFQ==
DEBUG=True
ALLOWED_HOSTS=*

# Supabase settings
SUPABASE_URL=https://hbqpplveyaofcqtuippl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhicXBwbHZleWFvZmNxdHVpcHBsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQyNzk1NzksImV4cCI6MjA0OTg1NTU3OX0.g-JyzBu2A8-_dm56lSxjGOHJ8FLN7cB7TbebxWvVjmA

# Database settings
DB_HOST=db.hbqpplveyaofcqtuippl.supabase.co
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Azerty@123456++*