DEBUG=True
SECRET_KEY=your-secret-key-here

# Supabase Configuration
SUPABASE_URL=https://hbqpplveyaofcqtuippl.supabase.co
SUPABASE_KEY=your-anon-key-here
DATABASE_URL=postgresql://postgres.hbqpplveyaofcqtuippl:your-db-password@aws-e-eu-central-1.pooler.supabase.com:6543/postgres
